@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --container--profile--width: 800px; 
  --container--profile--height: 400px; 
  --profile--image--width: 200px;
  --profile--image--height: 200px;
  --profile--font-family: "Raleway", serif;
}


body {
  background-image:url('./assets/background.jpg');
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-overlay {
  background-color: #72A0C1;
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  opacity: 0.5;
}

.container--website {
  position: absolute;
  width: 100%; height: 100%;
}
.container--profile {
  position: absolute;
  top: 50%; left: 50%;
  height: var(--container--profile--height);
  width: var(--container--profile--width);
  transform: translate(-50%,-50%);
}


.profile--image {
  width: var(--profile--image--width);
  height: var(--profile--image--height);
  border: clamp(3px, 0.4vw, 5px) solid white;
  border-radius: 50%;
  position: relative;
  top: 30%; left: 50%;
  transform: translate(-50%, -70%);
}

.profile--intro {
  position: relative;
  left: 50%; top: 0px;
  text-align: center;
  transform: translate(-50%, 0);
  font-size: 3em;
  font-family: var(--profile--font-family);
  color: white;
}

.profile--intro .profile--author-name {
  display: inline;
  border: 2px solid white;
  border-radius: 15px;
  padding: 5px 10px;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: white;
    box-shadow: 0 0 10px whitesmoke, 0 0 20px whitesmoke;
    transform: scale(1.05);
  }
}


.profile--role {  
  position: relative;
  left: 50%; top: 0px;
  text-align: center;
  transform: translate(-50%, 0);
  font-size: 2.5em;
  font-family: var(--profile--font-family);
  color: white;
}